<div class="container-fluid">
    <div class="col-md-offset-1">
      <h1>
        Book Leasing
      </h1>
    </div>
    
    <!-- <a routerLink="/users"> List Users</a>
    <a style="margin-left:10px" routerLink="/add">Add User</a>
    <br/> -->
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a routerLink="/insertBooks">Book</a>
        <a routerLink="/showBooks">Publisher</a>
        <a href="#about">About</a>
      </div>
    <router-outlet></router-outlet>
    </div>